@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sora', sans-serif;
  color: #272635;
  background-color: #FFFFFA;
}
.profile {
  text-align: center;
  padding: 150px 0;
}
.profile-image-container {
  margin-bottom: 50px;

}
.profile-image {
  border-radius: 50%;
  transition: transform 500ms ease;
}

.profile-image:hover {
  transform: scale(1.08);
}


.my-name {
  color: #3772FF;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 3s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(12.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}