.mintbutton, .walletbutton {
    margin-top:35px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    cursor: pointer;
    background-color: #3772FF;
    color: white;
    font-size: large;
    font-weight: 500;
   
}

.walletbutton {
    width: 200px;
}

.mintbutton:hover, .walletbutton:hover {
    background-color: #2e5bc5;
    color:whitesmoke;
}

.minting-infos {
    margin-top: 10px;
}

.download {
    margin-top:10px;
}

a {
    text-decoration: none;
    color: #272635;
}

a:hover {
    text-decoration:underline;
}